$base-size: 18px;

body {
    font-family: "Inter", sans-serif;
    font-size: $base-size;

    padding: 2rem;
    height: 90vh;

    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;

    a {
        color: blueviolet;
        text-decoration: none;
    }

    header {
        grid-column: 1 / 4;
        padding-bottom: 2rem;
    }
    header {
        display: flex;
        align-items: center;
        #app {
            // margin-left: 2rem;
            font-weight: 700;
        }
        #i {
            margin-left: 2rem;
        }
        #o {
            margin-left: 16rem;
        }
    }

    .left-side {
        grid-column: 1 / 2;
        #c-f {
            label {
                background-color: blueviolet;
                width: 60px;
                height: 60px;
                display: grid;
                place-items: center;
                margin-bottom: 1rem;
            }
            input {
                display: none;
            }
        }
        #c-b {
            label {
                background-color: rgb(36, 187, 142); /* Green */
                width: 60px;
                height: 60px;
                display: grid;
                place-items: center;
                margin-bottom: 1rem;
                border: none;
                cursor: pointer;
            }
            input {
                display: none;
            }
        }
    }

    main {
        grid-column: 2 / 3;
        padding-left: 2.5rem;
        #u {
            background-color: gray;
            width: 2rem;
        }
        #out {
            background-color: green;
            width: 250vw;
        }
    }

    .right-side {
        grid-column: 3 / 4;
    }

    footer {
        grid-column: 1 / 4;
    }
}
