$base-size: 18px;

body {
    font-family: "Inter", sans-serif;
    font-size: $base-size;
    color: #DCDCDC;

    padding: 2rem;
    height: 90vh;
    background-color: #292929;

    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;

    a {
        color: #D38A8A;
        text-decoration: none;
        transition: 0.2s;
    }
    a:hover{
        transition: 0.2s;
        color: #ff5c5c;
    }

    header {
        grid-column: 1 / 4;
        padding-bottom: 2rem;
    }
    header {
        display: flex;
        align-items: center;
        #app {
            // margin-left: 2rem;
            font-weight: 700;
        }
        #i {
            margin-left: 2rem;
        }
        #o {
            margin-left: 16rem;
        }
    }

    .left-side {
        grid-column: 1 / 2;
        padding-right: 1rem;
        #c-f {
            label {
                // background-color: blueviolet;
                background-color: rgba(255, 255, 255, 0);
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: grid;
                place-items: center;
                margin-bottom: 1rem;
                transition: ease-in-out 0.2s;
            }
            label:hover{
                transition: ease-in-out 0.2s;
                background-color: rgba(255, 255, 255, 0.25);
            }
            input {
                display: none;
            }
        }
        #c-b {
            label {
                background-color: rgba(255, 255, 255, 0);
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: grid;
                place-items: center;
                margin-bottom: 1rem;
                border: none;
                cursor: pointer;
            }
            label:hover{
                transition: ease-in-out 0.2s;
                background-color: rgba(255, 255, 255, 0.25);
            }
            input {
                display: none;
            }
        }
    }

    main {
        grid-column: 2 / 3;
        padding-left: 1.5rem;
        border-left: 0.5px solid #555555;
        #u {
            // background-color: gray;
            border-right: 0.5px solid #555555;
            width: 12rem;
            max-width: 17rem;
            height: 100%;
        }
        #out {
            background-color: green;
            width: 250vw;
        }
    }

    .right-side {
        grid-column: 3 / 4;
    }

    footer {
        border-top: 0.5px solid #555555;
        padding-top: 1rem;
        grid-column: 1 / 4;
    }
}
